.modal {
  width: 600px;
  height: 280px;
  margin: 100px auto;
  overflow-y: auto;
  background-color: #f0f0f0;
  position: absolute;
  border: 3px solid black;
  margin-left: -5%;
}

.modal h1 {
  text-align: center;
}

.modal .modal-content {
  padding: 1rem;
}
.btn {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 15px;
  right: 0;
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: #000;
  border: 1px solid #00000033;
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 35px;
  padding: 5px 7px;
}
.btn:before,
.btn:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.btn:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid #00b418;
  border-top: 1px solid #00b418;
  transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}
.btn:after {
  top: 0;
  right: 0;
  border-right: 1px solid #00b418;
  border-bottom: 1px solid #00b418;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}
.btn:hover:before,
.btn:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.btn:hover:before {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}
.btn:hover:after {
  transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}
.btn:hover {
  background: rgba(100, 207, 0, 0.089);
}
.btn-start {
  position: absolute;
  top: 1%;
  height: 55px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
