* {
  font-size: 50px;
  margin: 0;
}
.App {
  margin-left: 40%;
}

.button {
  width: 400px;
  height: 125px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #c5c5c5;
}
